@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=JetBrains+Mono&display=swap');

a {
    color: #e9e9f4;
}

body {
    font-family: 'IBM Plex Serif', serif;
    color: #e9e9f4;
    font-size: 1.15rem;
    line-height: 1.6;
}

.italic {
    font-style: italic;
}

code {
    font-family: "JetBrains Mono", monospace;
}

pre {
    font-size: 1.25rem;
    padding: 1rem;
    border-style: solid;
    border-color: #e9e9f4;
    border-width: 1px;
}

.katex-display > .katex { white-space: normal }